@{
    ViewBag.Title = "Confirmation Email Sent";
    Layout = "_login.cshtml";

}

<div id="forgot-pwd">
    <div class="login-header">
        <h4>Sign Up</h4>
    </div>
    <div>
        <p>
            Please check your email and use the link to activate your account.
        </p>
    </div>

</div>
<h2>@ViewBag.Title.</h2>


