@{
    ViewBag.Title = "Forgot Password Confirmation";
    
    Layout = "_login.cshtml";
}
<div id="forgot-pwd">

    <div class="login-header">
        <h4>Reset your Password</h4>
    </div>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    <div onclick="location.href='@Url.Action("Login", "Account")';return false;"><span class="text-danger">Sign In</span></div>

    </div>

